{% extends "number_generator/base.html" %}

{% load static %}
{% block stylesheet %}{% static "number_generator/style_about.css" %}{% endblock %}
{% block title %}About - Lottery Numberz{% endblock %}
{% block about_selected%}selected{% endblock %}

{% block content %}
<h1>About</h1>
<div id="logo_about"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lectus at odio suscipit venenatis et nec tellus. Nullam non accumsan magna. Aenean efficitur consequat diam et maximus. Mauris bibendum nulla libero, a luctus dolor dictum at. Donec in egestas ligula. Aenean accumsan ornare mollis. Phasellus arcu odio, fringilla id nulla vel, commodo fringilla ante. Nam tincidunt vehicula congue. Aliquam erat volutpat. Sed imperdiet risus vel dictum efficitur. Fusce a sem sit amet lorem iaculis lacinia. Pellentesque laoreet tortor a mauris vehicula, at dapibus eros hendrerit. Mauris tincidunt sem vitae ante tincidunt, pulvinar vehicula magna tempus.</p>

<div class="buttons">
    <a href="https://github.com/LucasKodex" target="_blank"><button id="btn_github" class="btn btn_main"><img class="img_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />GITHUB</button></a>
    <a href="https://www.linkedin.com/in/lucas-gon%C3%A7alves-cordeiro/" target="_blank"><button id="btn_linkedin" class="btn btn_main"><img class="img_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg" />LINKEDIN</button></a>
</div>
{% endblock %}
