<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Page{% endblock %} - Lottery Numberz</title>
        <link rel="icon" type="image/x-icon" href="{% static "number_generator/favicon.png" %}" />
        <link rel="stylesheet" href="{% static "number_generator/style_base.css" %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" />
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="{% url "number_generator:home_page" %}" ><img src="{% static "number_generator/logo.png" %}" id="logo-img" /></a>
            </div>
                
            <div id="links">
                <a href="{% url "number_generator:home_page" %}"><div class="{% block home_selected %}{% endblock %} nav_btn" >Home</div></a>
                <a href="{% url "number_generator:about_page" %}"><div class="{% block about_selected %}{% endblock %} nav_btn" >About</div></a>
                <a href="{% url "number_generator:generation_listing_page" %}"><div class="{% block generations_selected %}{% endblock %} nav_btn" >Other Generations</div></a>
            </div>
        </header>
        
        <main>
            {% block content %}{% endblock %}
        </main>
        
        <footer>
            <div>Author &commat; <a href="https://github.com/LucasKodex" target="_blank">Lucas Gonçalves Cordeiro</a> - 2024</div>
        </footer>
    </body>
</html>
