{% extends "number_generator/base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "number_generator/style_generation_list.css" %}" />
{% endblock %}
{% block title %}Generation List{% endblock %}
{% block generations_selected%}selected{% endblock %}

{% block content %}
<div id="content">
    {% if generation_list %}
    <h1>Other generated numbers</h1>
    <ul id="generation_list">
        {% for generation in page_obj %}
        <li>
            <p class="puid">{{ generation.get_formatted_puid }}</p>
            <div class="generation_numbers">
                <ul class="number_list">
                    {% for number in generation.get_ten_numbers_sorted %}
                    <li class="color_{{ number.color | lower }}">
                        {{ number.number }}
                    </li>
                    {% endfor %}
                </ul>
                <div>
                    Count: {{ generation.get_numbers | length }}
                </div>
                <a href="{% url "number_generator:generation_detail_page" generation.public_unique_identifier %}">
                    <button class="btn btn_main">
                        {{ "View" | upper }}
                    </button>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div id="paging">
        {% if page_obj.has_previous %}
        <a id="btn_prev" href="?page={{ page_obj.previous_page_number }}">
            <button class="btn btn_back">
                Previous
            </button>
        </a>
        {% endif %}
        <div id="page_number">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        {% if page_obj.has_next %}
        <a id="btn_next" href="?page={{ page_obj.next_page_number }}">
            <button class="btn btn_main">
                Next
            </button>
        </a>
        {% endif %}
    </div>
    {% else %}
    <h1>There's no generations yet</h1>
    {% endif %}
</div>
{% endblock %}
