{% extends "number_generator/base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "number_generator/style_generation_detail.css" %}" />
{% endblock %}
{% block title %}Generation Details{% endblock %}

{% block content %}
<div id="generation_detail">
    <div id="lucky_title">
        <h1>YOUR LUCKY NUMBERS</h1>
        <p>{{ generation.get_formatted_puid }}</p>
    </div>

    <ul>
        {% for number in generation.get_numbers_sorted %}
        <li class="color_{{ number.color | lower }}">{{ number.number }}</li>
        {% endfor %}
    </ul>
    
    <div id="buttons">
        <div>
            <button id="share" type="button" class="btn btn_main" onclick="shareButton()">
                {{ "Share" | upper }}
            </button>
        </div>
        <div>
            <button type="button" class="btn btn_back" onclick="window.location.href = '{% url "number_generator:home_page" %}'">
                {{ "Back" | upper }}
            </button>
        </div>
    </div>
</div>
<script>
    let originalShareButtonContent = (() => {
        const button = window.document.querySelector("button#share");
        const buttonContent = button.innerHTML;
        return buttonContent;
    })();

    async function shareButton() {
        const location = window.location.href;
        await navigator.clipboard.writeText(location);

        const button = window.document.querySelector("button#share");
        const TWO_SECONDS = 2000;
        const timeout = TWO_SECONDS;
        button.innerHTML = "Copied!"
        setTimeout(() => {
            button.innerHTML = originalShareButtonContent;
        },
        timeout);
    }
</script>

{% endblock %}
