{% extends "number_generator/base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "number_generator/style_home.css" %}" />
{% endblock %}
{% block title %}Home{% endblock %}
{% block home_selected%}selected{% endblock %}

{% block content %}
<div id="generation_form">
    <form action="{% url "number_generator:home_page" %}" method="post">
        {% csrf_token %}
        <label for="number_quantity">How many numbers do you want to generate?</label>
        <input type="number" min="1" max="1002" placeholder="6" id="number_quantity" name="quantity" class="number quantity" />
        <fieldset>
            <legend>Which is the range of numbers?</legend>
            <input type="number" min="0" max="99" placeholder="0" id="range_from" name="range_from" class="number range" />
            <label>to</label>
            <input type="number" min="0" max="99" placeholder="99" id="range_to" name="range_to" class="number range" />
        </fieldset>

        {% if error_list %}
        <div id="errors">
            <ul>
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <input type="submit" value="{{ "Generate" | upper }}" class="btn btn_main" />
    </form>
</div>
{% endblock %}
