#content {
    display: flex;
    flex-direction: column;
    margin: 0px 5%;
    row-gap: 25px;
}

#generation_list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.puid {
    margin-left: 50px;
    margin-bottom: 5px;
}

.generation_numbers {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.number_list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--neutral-color);
    border-radius: 100px;
    padding: 0px 20px;
    margin: 0px 10px;
    column-gap: 10px;
    width: 95%;
}

.number_list li {
    background-image: url('bingo_ball-100x100.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    width: 70px;
    height: 70px;
    margin: 10px 0px;
    text-align: center;
    line-height: 70px;
}

ul li.color_red {
    /* do nothing. original image is a pinkish red */
    filter: hue-rotate(0deg);    
}

ul li.color_blue {
    filter: hue-rotate(250deg);  
}

ul li.color_green {
    filter: hue-rotate(170deg);  
}

ul li.color_purple {
    filter: hue-rotate(315deg);  
}

li {
    list-style: none;
}

#paging {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

#btn_prev {
    grid-column-start: 1;
    grid-column-end: 2;   
}


#page_number {
    grid-column-start: 2;
    grid-column-end: 3;   
}


#btn_next {
    grid-column-start: 3;
    grid-column-end: 4;   
}
