main {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    margin-top: 100px;
    max-width: 40%;
}

#logo_about {
    max-width: 80%;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#buttons button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img_icon {
    height: 30px;
    width: auto;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

p {
    text-indent: 2em;
    font-weight: normal;
    font-size: 0.8em;
    text-align: justify;
}

@media (max-width: 800px) {
    #content {
        max-width: 60%;
    }
}

