main {
    display: flex;
    justify-content: center;
}

#generation_form {
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
}

form * {
    margin-top: 8px;
    margin-bottom: 8px;
}

form fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

form fieldset label {
    margin-left: 30px;
    margin-right: 30px;
}

form input.number {
    text-align: center;
    color: black;
    border-radius: 100px;
    border-style: none;
    font-size: 0.8em;
}

form input.quantity {
    width: 80%;
}

form input.range {
    width: 30%;
}

form .btn {
    font-size: 0.5em;
}

#errors ul {
    list-style-type: '\26A0\0020';
    font-size: 0.6em;
    text-shadow: black 1px 1px;
}

#errors ul li {
    color: var(--pinkish-red);
}
